flows.json
[{"id":"e6b55a9f.6a201","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a56929e7.0afe68","type":"watson-conversation-v1","z":"e6b55a9f.6a201","name":"assistant","workspaceid":"163453d0-7489-4e13-8a0c-7991411773dc","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/cc88e73a-2f65-4e54-bc2c-412df78eb6cc","timeout":"","optout-learning":false,"x":360,"y":200,"wires":[["a50dec2b.9c791"]]},{"id":"57cc45c3.f66ecc","type":"inject","z":"e6b55a9f.6a201","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["a56929e7.0afe68"]]},{"id":"1055c397.9d6f54","type":"debug","z":"e6b55a9f.6a201","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":220,"wires":[]},{"id":"a50dec2b.9c791","type":"function","z":"e6b55a9f.6a201","name":"output parsing","func":"msg.payload = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":280,"wires":[["1055c397.9d6f54","ed70b93c.6f279"]]},{"id":"79f19031.6b025","type":"ui_form","z":"e6b55a9f.6a201","name":"","label":"","group":"f1cae6ed.ffcfa","order":1,"width":0,"height":0,"options":[{"label":"Enter your input:","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":340,"wires":[["de9c2321.7bdf8"]]},{"id":"de9c2321.7bdf8","type":"function","z":"e6b55a9f.6a201","name":"input parsing","func":"msg.payload = msg.payload.text\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["a56929e7.0afe68","11b1d052.509a68"]]},{"id":"11b1d052.509a68","type":"ui_text","z":"e6b55a9f.6a201","group":"f1cae6ed.ffcfa","order":2,"width":8,"height":1,"name":"","label":"YOU","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":400,"wires":[]},{"id":"ed70b93c.6f279","type":"ui_text","z":"e6b55a9f.6a201","group":"f1cae6ed.ffcfa","order":3,"width":8,"height":3,"name":"","label":"BOT","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":500,"wires":[]},{"id":"f1cae6ed.ffcfa","type":"ui_group","z":"","name":"Hello","tab":"a661c27a.947b8","order":1,"disp":true,"width":8,"collapse":false},{"id":"a661c27a.947b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]